body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 205, 199);
}

#container {
    margin-top: 50px;
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button:hover {
    background-color: rgb(139, 211, 139);
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: 333;
}